Flask
FLask-SQLAlchemy
psycopg2-binary
requests
beautifulsoup4
selenium
urllib3
pdfplumber
nltk
spacy
unidecode
langdetect
transformers
sentence-transformers
torch
schedule
flask-cors
flasgger    