requests
beautifulsoup4
selenium
urllib3
pdfplumber

nltk
spacy
unidecode
langdetect
transformers
sentence-transformers
torch

flask-jwt-extended
flask-cors
flask-restful
flask
sqlalchemy
flask-sqlalchemy
psycopg2-binary
alembic
